# ZAI Backend — .gitignore

# Environment (muhim!)
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite3

# Virtual muhit
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
